<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>assets/heart_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,733},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>assets/heart_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,605},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>assets/life_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,10},{304,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,255}</string>
			</dict>
			<key>assets/life_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,580},{22,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,18}</string>
			</dict>
			<key>assets/life_heart_none.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,618},{22,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,18}</string>
			</dict>
			<key>assets/logo_secoinfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,751},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>assets/planet_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,694},{68,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,42}</string>
			</dict>
			<key>assets/planet_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,749},{68,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,42}</string>
			</dict>
			<key>assets/rocket_blue_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,642},{58,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,89}</string>
			</dict>
			<key>assets/rocket_red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,733},{58,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,89}</string>
			</dict>
			<key>assets/secogameico.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,642},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>assets/star_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,605},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>assets/star_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,677},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>assets/btn_continues_b0.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,10},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>assets/btn_continues_b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,10},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>assets/btn_home_b0.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,200},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>assets/btn_home_b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,285},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>assets/btn_home_s0.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,10},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>assets/btn_home_s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,129},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>assets/btn_info_b0.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,580},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>assets/btn_info_b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,679},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>assets/btn_play_b0.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,200},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>assets/btn_play_b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,200},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>assets/btn_ranking_s0.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,285},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>assets/btn_ranking_s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,248},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>assets/btn_replay_b0.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,390},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>assets/btn_replay_b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,475},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>assets/btn_share_b0.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,390},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>assets/btn_share_b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,390},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>assets/btn_wechat_s0.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,367},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>assets/btn_wechat_s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,404},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>assets/btn_weibo_s0.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,523},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>assets/btn_weibo_s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,486},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>assets/life_heart10.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,656},{22,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,18}</string>
			</dict>
			<key>assets/btn_gameinfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,665},{156,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,48}</string>
			</dict>
			<key>assets/btn_ranking_b0.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,580},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>assets/btn_ranking_b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,10},{171,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,170}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plist_images.png</string>
			<key>realTextureFileName</key>
			<string>plist_images.png</string>
			<key>size</key>
			<string>{1014,832}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1014</integer>
			<key>height</key>
			<integer>832</integer>
		</dict>
	</dict>
</plist>